{# note: if flectra.com/page/docs sub-menu's structure change, these links have to change as well #}

<li><a href="https://www.flectra.com/documentation/user/11.0/index.html">User</a></li>
<li><a href="https://www.flectra.com/documentation/11.0/index.html">Developer</a></li>
<li><a href="https://training.flectra.com/">Training center</a></li>
<li><a href="https://www.flectra.com/documentation/11.0/webservices/flectra.html">API</a></li>
<li><a href="https://www.flectra.com/documentation/11.0/setup/install.html">Installation</a></li>
<li><a href="https://www.flectra.com/page/flectra-white-paper">White Papers</a></li>
<li><a href="https://www.flectra.com/page/legal">Legal</a></li>
